*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

button{
    cursor:pointer;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    background: white;
    padding: 0 2em;
    -webkit-box-shadow: 0px 0px 27px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 27px -20px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 27px -20px rgba(0,0,0,0.75);
}

header h1{
    padding: 0 0 0 0;
    font-weight: 700;
    font-size: 3.5em;
    font-family: 'Kaushan Script', cursive;



}
header h3{
    padding: .1em 0;
    font-size: 1.3em;font-family: 'Kaushan Script', cursive;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 1em;
    color: #212121;
    
    
}

.portfolio{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 0.5em;
    padding: 3em 0;
    
}
.portfolio div{
    cursor:pointer;
    height: 300px;
    -webkit-box-shadow: 0px 0px 27px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 27px -20px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 27px -20px rgba(0,0,0,0.75);
    border-radius: 20px;
    
}
.portfolio div div{
    overflow: hidden;
    height: 100%;
    
}
.portfolio div div:hover{
    background: orange;
    padding: 5px;
    transition: .2s;
  
}
.portfolio img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}



.iconos i{
    padding:0 .3em;
}

.modal-container{
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background: #0000008c;
    
}
.modal{
    background: #e4e4e4;
    position: fixed;
    z-index: 999999;
    max-width: 900px;
    border-radius: .5em;
    animation-name: modalAnimation;
    animation-duration: .3s;
}
@keyframes modalAnimation {
    0%   {opacity: 0;}
  
    100% {opacity:1;}
  }

.modal-container-img{
    height: 400px;
    overflow-y: scroll;
    flex-grow:3;
    flex-basis: 0;
    
}

.modal img{
    width: 100%;
    
}

.modal-text{
    padding: 2em;
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    align-items: center;
    
    flex-direction: column;
    
}

.modal-buttons{
    display: flex;
}
.modal-buttons button{
    flex-grow: 1;
    padding: 1.5em;
    background: black;
    border: none;
    color: white;
    font-size: 1em;
}

.modal-buttons button:hover{
    background: darkorange;
    transition: .3s;
}





/*scrollbar*/

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }



@media (max-width: 700px){

    header{
        flex-direction: column;
        text-align: center;
    }

    .portfolio{
 
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
    
    }

    .iconos{
        padding: 1em;
    }
}

@media (max-width: 368px){



    .portfolio{
 
        grid-template-columns: repeat(1,1fr);
        
    
    }
}