*{
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
}

/*electric #3cc47c forest #1e392a light #e9c893*/


body{
        background: #130f40;
}

button{
    cursor:pointer;
}
span{
    color: #30336b;
    font-weight: 700;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    background: white;
    -webkit-box-shadow: 0px 0px 27px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 27px -20px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 27px -20px rgba(0,0,0,0.75);
    
}


 
/*******HEADER**********/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em 2em;
    color: #e4e4e4;
    background: white;
    min-height: 250px;
    background: #30336b;
    
    
}

header h1{
    padding: 0 0 0 0;
    font-weight: 500;
    font-size: 3.5em;
    
   

}
header h2{
    
    font-weight: 300;
    
   
}

.iconos i{
    padding:0 .3em;
    
}

/******ESTILOS DE SECCIONES*/

section{
    padding: 2em;
   
}

.section-title{
    color: #2f2f2f;
    font-size: 1.7em;
    margin-bottom: .6em;
    font-weight: 900;
    display: inline-block;
}

/*******PORTFOLIO*********/

.portfolio{
    background:#f5f5f5;
    border-bottom: 1px solid #d8d8d8;
    border-top: 1px solid #d8d8d8;
}

.portfolio-images{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 0.5em;
}
.portfolio div div {
    cursor:pointer;
    height: 200px;
    -webkit-box-shadow: 0px 0px 27px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 27px -20px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 27px -20px rgba(0,0,0,0.75);
    border-radius: 20px;
    
}

.portfolio div div div{
    overflow: hidden;
    height: 100%;
    
}

.portfolio img:hover{

   transform: scale(1.2); 
  
}

.portfolio img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;    
    transform:scale(1);

    /*entender esto*/
  
    -webkit-transition: all 500ms; 
    -moz-transition: all 500ms;
    -ms-transition: all 500ms; 
    -o-transition: all 500ms;       
}




/*****Sobre mi ******/


.sobre-mi-cont{
    display: flex;
    
}
.sobre-mi-info{
    
    flex-grow: 4;
    flex-basis: 0; 
    display: flex;
    flex-direction: column;
    justify-content: centeR;
   
}


.sobre-mi-contact{
    flex-grow: 2;
    flex-basis: 0;
    padding: 1em;
    background: #f5f5f5;
    color: #212121;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    font-size:.9em;

}

.sobre-mi h3{
    padding: .5em 0;
    font-family: 'Literata', serif;
}

footer{
    display: flex;
    background: #212121;
    color: white;
    justify-content: center;
    padding: 2em;
    
}
.footer-info{
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-direction:column;
    justify-content: center;
    border-right: 1px solid grey;

}

.footer-info p,.footer-info div{
    padding: 1em ;
    font-weight: 300;
}
.go-top{
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.go-top:hover{
    background: #2f2f2f;
    transition:.3s;
    color: grey;
}





/********MODAL*********/
.modal-container{
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background: #0000008c;
    
}
.modal{
    background: #e4e4e4;
    position: fixed;
    z-index: 999999;
    max-width: 900px;
    border-radius: .5em;
    animation-name: modalAnimation;
    animation-duration: .3s;

}


@keyframes modalAnimation {
    0%   {
        transform: scale(0); 
    }
  
    100% {
        transform: scale(1); 
    }
  }

  .modal-container-img{
    height: 80vh;
    overflow-y: scroll;
    flex-grow:3;
    flex-basis: 0;
    max-height: fit-content;
    
}

.modal img{
    width: 100%;
    
}

.modal-text{
    padding: 2em;
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    align-items: center;
    
    flex-direction: column;
    
}

.modal-buttons{
    display: flex;
}
.modal-buttons button{
    flex-grow: 1;
    padding: 1.5em;
    background: black;
    border: none;
    color: white;
    font-size: 1em;
}

.modal-buttons button:hover{
    background: #130f40;
    transition: .3s;
}


/*scrollbar*/

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }



@media (max-width: 700px){
 
    *{
        text-align: center;
    }
    header{
        flex-direction: column;
       
    }

    .portfolio-images{
 
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
    
    }

    .iconos{
        padding: 2em;
    }
    .sobre-mi-cont{
        flex-direction: column;
    }

    footer{
        flex-direction: column;
        
    }
    .footer-info{
        border-right: none;
    
    }
    .sobre-mi-contact{
        margin-top: 3em;
    
    }

    .go-top{
        order:-1;
    }
 
}

@media (max-width: 368px){



    .portfolio-images{
 
        grid-template-columns: repeat(1,1fr);
        
    
    }
    section{
        padding: 1em;
    }

  
}